.App-container{
  border:1px solid green;
  width: 100%; 
  background-color:#fafafa;
}
.App-block{
  min-height:100px;
  width:100%;
  border: 1px solid grey;

}
@media (min-width:800px){
  .App-block{
    display:none;
  }
}