.post-card{
    width:100%;
  
}
@media (min-width:500px){
    .post-card{
        margin:5% 0%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border:1px solid silver;
        border-radius: 5px
    }
}
@media (min-width:1000px){
    .post-card{
        margin:10% 0%;
    }
}
.post-owner-info{
    display:flex;
    justify-content: space-between;
    width:90%;
    align-items:center;
    margin:0% 5%;

}
.post-owner-info img{
    border-radius: 50%;
    width: 40px;
    height:40px;
}
.post-creator{
    width:60%;
    padding-top:2%;
    font-weight:bold;
    font-size:2.5vw;
}
.post-dropdown{
    color:black;
    font-size:2rem;
}
.post-image{
    width:100%;
}
.post-image img{
    width:100%;
    
}
